{% extends 'base.html' %}
{% block title %}
	Buy
{% endblock %}
{% block content %}
	
<section class="banner">
	<div class="search">
		<h1>Search for your property here</h1>
		<div class="input">
			<input type="text" placeholder="Keyword search only..." />
			<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
		</div>
	</div>
</section>
<main class="main">
	<div class="inside-main">
		<div class="filter-results">
			<h4>Filter Results</h4>
		</div>
		{% for property in properties %}
			
		<div class="results">
			<div class="upper-result">
				<div class="result-img">
					<div class="big-img">
						<img src="../static/images/bg2.jpg" alt="">
					</div>
					<div class="smal-img">
						<div class="inner-small-img img1">
							<img src="../static/images/bg3.jpg" alt="">
						</div>
						<div class="inner-small-img img2">
							<img src="../static/images/bg4.png" alt="">
						</div>
						<div class="inner-small-img img3">
							<img src="../static/images/bg5.jpg" alt="">
						</div>
					</div>
				</div>
				<div class="details">
					<div class="buttons">
						<button class="sale">SALE</button>
						<button class="new">NEW</button>
					</div>
					<div class="description">
						<div class="inner-description">
							<h4>{{property.description}}</h4>
							<p>
								<i class="fa fa-map-marker location" aria-hidden="true"></i> 
								{{property.state}}
							</p>
							<p class="landmarks">
								<i class="fa fa-shopping-bag" aria-hidden="true"></i>
								{{property.landmark}}
								<i class="fa fa-graduation-cap" aria-hidden="true"></i>
								{{property.landmark}}
							</p>
						</div>
					</div>
					<div class="price">
						<div class="text-price">
							<p>Price</p>
						</div>
						<div class="amount">
							<h4>#{{property.price}}</h4>
							<button>Take a tour</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</main>
{% for user in users %}
	<h2>{{user.firstname}} {{user.lastname}}</h2>
	<h4></h4>
{% endfor %}
{% endblock %}
