{% extends 'base.html' %}
{% block title %}
	Buy
{% endblock %}
{% block content %}
	
<section class="banner">
	<div class="search">
		<h1>Search for your property here</h1>
		<div class="input">
			<input type="text" placeholder="Keyword search only..." />
			<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
		</div>
	</div>
</section>
<main class="main">
	<div class="inside-main">
		<div class="filter-results">
			<h4>Filter Results</h4>
		</div>
		{% for property in properties %}
			
		<div class="results">
			<div class="upper-result">
				<div class="result-img">
					{% for item in property.property_imgs[:	1] %}
					<div class="big-img">
						<img src={{item.img_path}} alt="">
					</div>
					{% endfor %}
					
				</div>
				<div class="details">
					<div class="buttons">
						<button class="sale">{{property.availability.upper()}}</button>
						<button class="new">NEW</button>
					</div>
					<div class="description">
						<div class="inner-description">
							<h4>{{property.description}}</h4>
							<p>
								<i class="fa fa-map-marker location" aria-hidden="true"></i> 
								{{property.state}}
							</p>
							<p class="landmarks">
								<i class="fa fa-compass" aria-hidden="true"></i>
								{{property.landmark}} 
							</p>
						</div>
					</div>
					<div class="price">
						<div class="text-price">
							<p>Price</p>
						</div>
						<div class="amount">
							<h4>#{{property.price}}</h4>
							<!-- <h4>{{property.id}}</h4> -->
							<button><a href="/properties/{{property.id}}">Take a tour</a></button>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</main>
{% endblock %}
