{% extends 'base.html' %}
{% block title %}
	Property details
{% endblock %}
{% block content %}

<main class="main">
	<div class="details-inside-main">
		<div class="img-area">
			{% for item in property.property_imgs[:1] %}
			<div class="big-img">
				<img src=../{{item.img_path}} alt="">
			</div>
			{% endfor %}
			<div class="small-img">
				{% for image in property.property_imgs[:3] %}
				<div class="small-img1 img">
					<img src=../{{image.img_path}} alt="">
				</div>
				{% endfor %}
			</div>
		</div>
		<div class="under-img">
			<div class="buttons">
				<button class="sale">{{property.availability.upper()}}</button>
				<button class="new">NEW</button>
			</div>
			<div class="time">
				<i class="fa fa-calendar-check-o time-icon" aria-hidden="true"></i> {{property.created_at}}
			</div>
			<div class="view">
				<i class="fa fa-eye eye-icon" aria-hidden="true"></i> 25245 views
			</div>
		</div>
		<div class="content-description">
			<div class="left-description">
				<div class="desc-details">
					<div class="desc1">
						<h2>{{property.description.upper()}}</h2>
						<p><i class="fa fa-map-marker location-icon" aria-hidden="true"></i> Gaduwa, Municipal area council, Abuja</p>
					</div>
					<!-- <div class="desc2">
						<h4>Description</h4>
						<p>
							4 units of 4 bedroom terrace duplex for sale
						</p>
						<p class="read-more">
							Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, repellat. <a href="#">Read more</a>
						</p>
					</div> -->
					<div class="desc3">
						<h4>Landmarks</h4>
						<p><input type="checkbox" checked> {{property.landmark}}</p>
						<!-- <p><input type="checkbox" checked> School</p> -->
						<h4>Reviews</h4>
					</div>

				</div>
				<div class="price">
					&#8358;{{property.price}}
				</div>
			</div>
			<div class="owner-information">
				<div class="owners-heading">
					<h4>owner information</h4>
				</div>
				<div class="owners-body">
					<h4>{{user.firstname}} {{user.lastname}}</h4>
					<p><i class="fa fa-phone" aria-hidden="true"></i> {{user.phone_no}} </p>
					<!-- <p><i class="fa fa-mobile" aria-hidden="true"></i> +2347062682820 </p> -->
					<p><i class="fa fa-envelope" aria-hidden="true"></i> {{user.email}} </p>
					<div class="form">
						<form action="" method="POST">
							<h4>Review</h4>
							<div class="group-input">
								<label for="tex">Want to say something?</label>
								<textarea name="text" class="form-input" id="" cols="30" >
									
								</textarea>
								
							</div>
							<div class="group-input">
								<label for="rate">Rate this property 1 - 5</label>
								<input type="range" class="slider" name="rate" id="rate" min="1" max="5">
								<p>Rate: <span id="show_rate"></span></p>
								<input type="hidden" value={{property.id}}>
							</div>
							<button class="form-button" type="submit">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}
