{% extends 'base.html' %}
{% block title %}
	landing page
{% endblock %}
{% block content %}
	
<section class="landing-banner">
	<div class="landing-writeup">
		<h1>Authentified.com.ng</h1>
		<p>Your gateway to authentic property</p>
		<div class="button">
			{% if not session.loggedin %}
				<button><a href={{url_for('signup')}}>Sell it <span>/</span>Buy it</a></button>
			{% endif %}
		</div>
	</div>
</section>
<main class="landing-main">
	<div class="vl"></div>
	<div class="inside-landing-main">
		<div class="content1">
			<h4>Our focus</h4>
			<p>
				At <span>Authentified.com.ng</span> we provide solutions that meet global 
				standard to individuals and businesses, challenging 
				new frontiers through tech innovations from inside Nigeria. 
				We focus on empowering individuals with solutions to live a 
				better life and do more.
			</p>
		</div>
	</div>
	<div class="vl"></div>
	<div class="content2">
		<h4><a href="#">Contact Us</a></h4>
	</div>
	<div class="desc-icons content3">
		<div class="desc1">
			<div class="icon">
				<img src="../static/images/house2.png" alt="">
			</div>
			<h4>Sell/Rent your house</h4>
			<p>
				We provide enterprise solutions to large 
				and small businesses, Schools, Financial 
				Institutions, etc. Mention what you want, 
				we will deliver it. 
			</p>
		</div>
		<div class="desc2">
			<div class="icon">
				<img src="../static/images/land02.png" alt="">
			</div>
			<h4>Sell/Lease your land</h4>
			<p>
				If it is going to run on the web, 
				our team will bring it to life. Tablets, 
				Mobile, Smartphones, iOS, Android, Windows 
				Phone. Our Web solutions are suitable for all screens. 
			</p>
		</div>
	</div>
	<div class="ultimate content4">
		<h4>Specialisation</h4>
		<p>
			Ensuring that all of the properties mentioned here are owned by their legitimate owners, we reduce the danger of you falling into the hands of fraudsters.
		</p>
	</div>
</main>
{% endblock %}