<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <header>
    <div class="container">
      <h1 class="logo">
        <img src="https://lh3.googleusercontent.com/5s6h8Sfn-5SVhvBRoGsU6wvFd_y84zGlakeNoEqrKXPPJO8f7aB6Jd18xm8RXCY88EPJgvyfPNe47DVDCozbPD2BzTAtgWwhjDZO5swFzuUtck4Gxga8rU3H0BO_GE7ZgzHPJ5sjpg=w2400"alt="AUTHENTIFIED.">
      </h1>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">BUY</a></li>
          <li><a href="#">SELL</a></li>
          <li><a href="#">SIGN IN</a></li>
        </ul>
      </nav>
    </div>
  </header>
    <link rel="stylesheet" href="styles.css" />
    <link rel="stylesheet" href="static/css/navbar.css">
  </head>
</html>