body{
    --color-primary: #F03B23;
    --color-primary-dark: #a52210;
    --color-secondry:#020347;
    --color-error: #ff0000;
    --color-success: #459745;
    --border-redius: 4px;

    margin: 0;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-image: url(https://plus.unsplash.com/premium_photo-1674504329698-e407a536de29?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=884&q=80);
    background-size: cover;
    backdrop-filter: blur(5px);

}
.head{
  font: 500 1rem 'Roboto', sans-serif;;
  margin-bottom: 2rem;
  text-align: center;
}
.pix{
  box-shadow: 0px 2px 4px rgb(168 168 168 / 50%);
  border-radius: 10px;
}
div.pix {
  overflow: auto;
  white-space: nowrap;
}

div.pix a {
  display: inline-block;
  color: #FFFFFF;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.img{
    border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 200px;

}

.wrapper{
  width: 1000px;
  background: #FFFFFF;
  box-shadow: 0px 2px 4px rgb(168 168 168 / 50%);
  border-radius: 10px;
  margin: 30px auto 10px;
  padding: 57px;
  align-content: center;
    
  
}
p{
  font: 500 1rem 'Roboto', sans-serif;
}
label{
  font: 500 1rem 'Roboto', sans-serif;
}
.description{
  font: 500 1rem 'Roboto', sans-serif;
}
.form__input{
  display: block;
  width: 70%;
  padding: 0.75rem;
  box-sizing: border-box;
  border-radius: var(--border-redius);
  border: 1px solid #dddddd;
  outline: none;
  background: #FFFFFF;
  transition: background 0.2s, border-color 0.2s;
  font: 500 1rem 'Roboto', sans-serif;
}
.form__input:focus{
  border-color: var(--color-primary);
  background: #FFFFFF;
}
.form__button{
  width: 60%;
  padding: 1rem 2rem;
  font-weight: bold;
  font-size: 1.1rem;
  color: #FFFFFF;
  border: none;
  border-radius: var(--border-redius);
  outline: none;
  cursor: pointer;
  background: var(--color-primary);
  
}
.form__button{
  text-align: center;

}
.form__button:hover{
  background: var(--color-primary-dark);
  
}
.form__button:active{
  transform: scale(0.98);
}














